@model ShoesModelView;

@{
    ViewData["Title"] = Model.Name;
}

<h2>More about @Model.Name</h2>

<div class="row">
    <div class="col-7 d-flex gap-4">
        <div class="col-2">
            <img src=@Model.MainImage class="w-100 mb-3" alt="@Model.Name image" />

            @foreach(var img in Model.Images)
            {
                <img src=@img class="w-100 mb-3" alt="@Model.Name image"/>
            }
        </div>
        <div class="col-9">
            <img class="w-100" src="@Model.MainImage" alt="@Model.Name image" />
        </div>
    </div>
    <div class="col-5">
        <h3>@Model.Name</h3>
        <p class="lead fw-bold">from €@Model.Price <span class="fw-light fs-6">VAT included </span></p>

        <p>@Model.Description</p>

        <div>
            <a class="btn btn-success">Edit</a>
            <a class="btn btn-danger" asp-controller="Shoes" asp-action="Delete" asp-route-id="@Model.Id">Remove</a>
        </div>
    </div>
</div>